// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_image {
opacity: 0.2;
margin-left: 663px;
margin-top: auto;
}
.upside_down_arrow {
  margin-left: 577px;
  margin-top: -44px;
  width: 350px;
}
.upside_up_arrow {
  margin-left: 547px;
  margin-top: 172px;
  width: 400px;
}
.box {
  margin-top: 75px;
}
